html, body {
    background-color: hsl(0, 0%, 10%);
    --background-two: hsl(0, 0%, 13%);
    --border: hsl(0, 0%, 25%);
    --hover-card: hsl(0, 0%, 18%);
    color: hsl(243, 51%, 91%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    caret-color: #c6d0f5;
    font-family: Century Gothic Bold, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .8px;
    font-weight: bolder;
}

:root {
    --hover: none;
}

body {
    margin: 0px;
}
.flex {
    max-width: 100%;
    display: flex;
    margin: 0px;
    flex: 1;    
    justify-content: center;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('gothicCentury/centurygothic.woff2') format('woff2'),
         url('gothicCentury/centurygothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic Bold';
    src: url('gothicCentury/centurygothicbold.woff2') format('woff2'),
         url('gothicCentury/centurygothicbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

hr {
    border: 1px solid var(--border);
    flex-grow: 0;
}

container {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template: 40px .8fr / 1fr 1fr 1.3px 1fr 1fr 1fr;
    gap: 20px;
    user-select: none;
}

.status {
    align-self: flex-end;
    padding: 3px 3px;
    border-radius: 4px;
    font-size: .85rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

container > div:nth-child(3) {
    grid-column-start: 4;
}
/* upper part of the to do list */
.one {
    background-color: hsl(359deg, 68%, 71%);
    width: 49px;
}

.two {
    background-color: hsl(20deg, 79%, 70%);
    width: 92px;
}

.three {
    background-color: rgb(140, 170, 238);
    width: 78px;
}

.done {
    background-color: hsl(115, 33%, 58%);
    width: 38px;
}

.doin {
    background-color: hsl(232, 37%, 68%);
    width: 42px;
}

.container-of-notes div, #new {
    transition: 100ms ease-out;
}

.note, .new {
    position: relative;
}

.note:hover::before, .new:hover::before{
    content: "";
    background-color: var(--hover);
    border-radius: 15px;
    position: absolute;
    top: -6.5px;
    left: 0px;
    width: 100%;
    height: 2px !important;
    z-index: 1;
}

.new:hover::before{
    top: -7px;
}

.note:hover  {
    background-color: var(--hover-card);
}


#red {
    background-color: rgb(54, 33, 33);
    border-color: hsl(357, 29%, 32%);
}

#red:hover {
    background-color: rgb(105, 58, 60);
}

#green {
    background-color: rgb(45, 66, 43);
    border-color: rgb(93, 124, 90);
}

#green:hover {
    background-color: rgb(93, 124, 90);
}

#yellow {
    background-color: rgba(71, 49, 32, 0.897);
    border-color: hsl(32, 29%, 32%);
}

#yellow:hover {
    background-color: hsl(32, 29%, 32%);
}

#blue {
    background-color: rgb(38, 51, 65);
    border-color: rgb(92, 111, 156);
}

#blue:hover {
    background-color: rgb(92, 111, 156);
}

.line {
    grid-column-start: 3;
    background-color: var(--border);
    border: none;
}

.container-of-notes {
    display: flex;
    flex-direction: column;
    gap: 10px !important;
}

.new {
    background-color: transparent !important;
    border: .12rem solid var(--border) !important;
    padding-left: 18px !important;
    height: 25px !important;
    color: hsl(0, 0%, 36%);
}

.new:hover  {
    background-color: var(--hover-card) !important;
}

.container-of-notes div {
    border-radius: 12px;
    background-color:var(--background-two);
    align-content: center;
    padding: 8px 10px;
    border: 1px var(--border) solid;
    font-size: 1.05rem;
    letter-spacing: normal;
}

.container-of-notes div input {
    background-color: transparent;
    outline: none;
    border-style: none;
    width: 150px;
    color: hsla(245, 52%, 91%, 0.616) !important;
    font-family: Century Gothic Bold, Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 4px;
}

.container-of-notes div input:focus {
    outline: none;
    transition: 200ms ease-out;
    box-shadow: 0 3px 0px 0px rgb(100, 103, 131);
}

.container-of-notes div input::placeholder {
    color: hsla(245, 52%, 91%, 0.616);
}

.container-of-notes div div {
    display: inline-flex;
    gap: 5px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: transparent;
    z-index: 1;
}

.txt-container {
    position: relative;
    bottom: 5px;
}

#deadline, .deadlineTxt {
    font-family: sans-serif, Gothic Bold, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400 !important;
    letter-spacing: .7px !important;
    letter-spacing: normal;
    font-size: 12px !important; 
    display: inline !important;
    background-color: transparent !important;
    color: hsl(0, 0%, 47%);
}

.deadlineTxt {
    color: rgb(127, 255, 212);
}

.to-do {
    height: 1000px;
    padding: 50px 100px;
    flex-grow: 10;
    flex-shrink: 0;
    flex-basis: 0%;
    max-width: 1150px;
}

#doneIcon, #options {
    position: absolute;
    display: inline;
    width: 22px;
    min-height: 22px;
    border: none;
    filter: opacity(0.05);
}

#doneIcon {
    background-image: url(./done.svg);
    top: -8px;
    right: -8px;

}

#options {
    background-image: url(./options.svg);
    rotate: 90deg;
    bottom: -5px;
    left: 45%;
}

#doneIcon:hover, #options:hover {
    transition: ease-in 100ms;
    filter: opacity(1);
}

.header-txt {
    word-break: break-all;
}

.popover {
    font-family: sans-serif, Century Gothic, Verdana, Geneva, Tahoma, sans-serif;;
    background-color: var(--background-two);
    padding: 70px;
    padding-right: 125px;
    z-index: 2;
    border-left: 1px solid var(--border);
    flex: 1 1 0%;
    /* width: 100%; */
}

input[type="radio"] {
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 13%);
    border: 2px hsl(0, 0%, 47%) solid;
}

input[type="radio"]:checked {
    transition: 75ms ease-out;
    background-color: hsl(0, 0%, 47%);
    border: 3px solid hsl(0, 0%, 17%);
}   

label {
    letter-spacing: normal;
    display: flex;
    font-weight: 400;
    color: hsl(0, 0%, 47%);
    font-size: 13px;
    width: 70%;
    height: 60px;
    align-items: center;
    padding-left: 5px;
}

#line {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

#line:hover {
    background-color: hsl(0, 0%, 17%);

}

.popover > #line:nth-child(1n + 5) {
    border-top: 1px solid var(--border);    
}

h5 {
    color: hsl(0, 0%, 36%);
    font-weight: 500;
    margin-bottom: 3px;
}

h1 {
    font-family: Century Gothic Bold, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

#close {
    position: absolute;
    top: 15px;
    right: 20px;
    height: 20px;
    width: 20px;
    filter:opacity(.3);
    background-image: url(./close.svg);
    border: none;
}

#close:hover {
    filter:opacity(.7);
}

#add-description {
    font-size: .9rem;
    font-family: sans-serif;
    margin-top: 27px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    appearance: none;
    background-color: transparent;
    border: none;
    color: hsl(0, 0%, 36%);
    display: flex;
    justify-content: start;
    word-break: break-all;
}

#add-description:focus {
    outline: none;
}

